:root {
    /* Colors */
    --paragraph: #999;
    --black: #000000;
    --gray-text: #333;
    --white-text: #eee;
    --white: #ffffff;
    --yellow: #EDB713;

    /* Font size */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /* Font-Family */
    --poppins: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--poppins);
}

/* BG VIDEO */
#header {
    height: 700px;
}

#header .header-video {
    height: 700px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

#header .header-video video {
    min-height: 100%;
    min-width: 100%;
}

#header .header-overlay {
    background: linear-gradient(#000 0%, #000 60%, #000);
    height: 700px;
    left: 0;
    opacity: .50;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

#header .header-content {
    position: relative;
    z-index: 2;
}

/* BG VIDEO COMPLETE */


/* NAVBAR */
#header .header-content .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.navbar-left .navbar-left-ul .logo {
    height: auto;
    width: 48px;
}

.navbar-right {
    display: flex;
}

.navbar-right .navbar-right-ul {
    display: none;
}

.navbar-right .navbar-menu {
    align-items: center;
    display: flex;
}

.navbar-right .navbar-menu .container-menu {
    display: flex;
    /* falta  margin */
}

.navbar-right .navbar-menu .container-menu .menu {
    width: 16px;
}

.navbar-left ul,
.navbar-right ul {
    align-items: center;
    display: flex;
    height: 110px;
}

.navbar-left li a,
.navbar-right li a {
    color: var(--white-text);
    font-size: var(--md);
    letter-spacing: 1px;
    line-height: 2;
    padding: 16px;
    text-transform: uppercase;
}

/* NAVBAR:COMPLETE */

/* TITLE */
.header-content .container-header {
    left: 30px;
    padding: 20px;
    position: absolute;
    top: 200px;
    width: 100%;
}

.small-title {
    color: var(--yellow);
    font-size: var(--md);
    font-weight: 600;
    letter-spacing: 2.8px;
    line-height: 2;
    text-transform: uppercase;
}

.medium-title {
    color: var(--gray-text);
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 20px;
    line-height: 4.8rem;
}

.text {
    font-size: var(--sm);
    color: var(--paragraph);
    font-weight: 400;
    line-height: 2.4rem;
    max-width: 584px;
    min-width: 360px;
}

.header-content .container-header .title {
    color: var(--white-text);
    font-size: 4rem;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 60px;
    margin-top: 24px;
}

.line {
    background: var(--yellow);
    display: block;
    height: 1px;
    margin: 20px 0 30px;
    width: 40px;
    padding-bottom: 1px;
}

.header-content .container-header .subtitle {
    color: var(--white-text);
    font-size: var(--md);
    font-weight: 300;
    line-height: 1.3;
    max-width: 424px;
    min-width: 300px;
    width: 90%;
}

.header-content .container-header .subtitle a {
    color: var(--yellow);
}

/* TITLE:COMPLETE */

/* MAIN - FIRST SECTION */

#main {
    width: 100%;
    height: auto;
}

#main .main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 680px;
    padding: 160px 0 80px;
    text-align: center;
}

#main .main-container img {
    margin: 80px 0;
}

/* MAIN - FIRST SECTION:COMPLETE */

/* MAIN - SECOND SECTION */


/* MAIN-SECOND SECTION:COMPLETE */

@media (min-width: 800px) {

    /* NAVBAR */
    .navbar-left .navbar-left-ul .logo {
        height: 35px;
        width: 75px;
    }

    .navbar-right .navbar-right-ul {
        display: flex;
        margin-right: 12px;
    }

    /* NAVBAR:COMPLETE */

    /* TITLE */
    .header-content .container-header {
        padding: 52px 80px 52px 52px;
        top: 68px;

    }

    .header-content .container-header .title {
        font-size: 9rem;
        line-height: 1.1em;
        margin-bottom: 100px;
    }

    .header-content .container-header .subtitle {
        letter-spacing: 1px;
        line-height: 1.6em;
        max-width: 731px;
        min-width: 500px;
        width: 50%;
    }

    /* TITLE:COMPLETE */

    /* MAIN - FIRST SECTION */
    .medium-title {
        color: var(--gray-text);
        font-weight: 600;
        font-size: 6rem;
        margin-bottom: 20px;
        line-height: 1.2em;
    }

    .text {
        font-size: 2rem;
        line-height: normal;
        max-width: 716px;
    }
    /* MAIN - FIRST SECTION:COMPLETE */

}