:root {
    /* Colors */
    --a: #999;
    --black: #000000;
    --gray-text: #ccc;
    --white-text: #eee;
    --white: #ffffff;
    --yellow: #EDB713;

    /* Font size */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /* Font-Family */
    --poppins: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--a);
    font-family: var(--poppins);
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.navbar-left .logo {
    height: auto;
    width: 48px;
}

.navbar-right {
    display: flex;
}

.navbar-right .navbar-right-ul {
    display: none;
}

.navbar-right .navbar-menu {
    align-items: center;
    display: flex;
}

.navbar-right .container-menu {
    display: flex;
}


.navbar-right .container-menu .menu {
    width: 16px;
}

.navbar-left ul,
.navbar-right ul {
    align-items: center;
    display: flex;
    height: 110px;
}

.navbar-left ul li a,
.navbar-right li a {
    color: var(--white-text);
    font-size: var(--md);
    letter-spacing: 1px;
    line-height: 2;
    padding: 16px;
    text-transform: uppercase;
}

/* NAVBAR COMPLETE */

/* TITLE */

.container-header {
    position: absolute;
    width: 100%;
    background-color: green;
    padding: 20px;
    left: 30px;
    top: 25%;
}

.container-header .small-title {
    color: var(--yellow);
    font-size: var(--md);
    text-transform: uppercase;
    line-height: 2;
    letter-spacing: 2.8px;
    font-weight: 600;
}

.container-header .title {
    margin-top: 24px;
    margin-bottom: 60px;
    color: var(--white-text);
    font-size: 4rem;
    font-weight: 600;
    line-height: 110%;
}

.container-header .title .line {
    width: 40px;
    margin: 20px 0 0;
    height: 1px;
    background: var(--yellow);
    display: block;
}

.container-header .subtitle {
    width: 90%;
    color: var(--white-text);
    font-size: var(--md);
    font-weight: 300;
    line-height: 1.3;
}

.container-header .subtitle a {
    color: var(--yellow);
}


/* TITLE COMPLETE */


@media (min-width: 800px) {

    /* NAVBAR */
    .navbar-right .navbar-right-ul {
        display: flex;
        margin-right: 12px;
    }

    .navbar-left .logo {
        width: 75px;
        height: 35px;
    }

    /* NAVBAR COMPLETE */

    /* TITLE */

    .container-header {
        top: 10%;
        ;
        padding: 52px 80px 52px 52px;
    }

    .container-header .title {
        font-size: 9rem;
        line-height: 1.1em;
        margin-bottom: 100px;
    }

    .container-header .subtitle {
        letter-spacing: 1px;
        line-height: 1.6em;
        width: 50%;
    }


    /* TITLE COMPLETE */
}


/* FULLSCREEN VIDEO 

width: 100%;
height: 100%;
display: block;
object-fit: cover;
position: absolute;
left: 0;
top: 0;
*/