:root {
    /* Colors */
    --paragraph: #999;
    --black: #000000;
    --gray-text: #333;
    --white-text: #eee;
    --white: #ffffff;
    --yellow: #EDB713;

    /* Font size */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /* Font-Family */
    --poppins: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--poppins);
}

/* BG VIDEO */
#header {
    height: 700px;
}

#header .header-video {
    height: 700px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

#header .header-video video {
    min-height: 100%;
    min-width: 100%;
}

#header .header-overlay {
    background: linear-gradient(#000 0%, #000 60%, #000);
    height: 700px;
    left: 0;
    opacity: .50;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header .header-content {
    position: relative;
    z-index: 2;
}

/* BG VIDEO COMPLETE */


/* NAVBAR */
#header .header-content .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.navbar-left .navbar-left-ul .logo {
    height: auto;
    width: 48px;
}

.navbar-right {
    display: flex;
}

.navbar-right .navbar-right-ul {
    display: none;
}

.navbar-right .navbar-menu {
    align-items: center;
    display: flex;
}

.navbar-right .navbar-menu .container-menu {
    display: flex;
    /* falta  margin */
}

.navbar-right .navbar-menu .container-menu .menu {
    width: 16px;
}

.navbar-left ul,
.navbar-right ul {
    align-items: center;
    display: flex;
    height: 110px;
}

.navbar-left li a,
.navbar-right li a {
    color: var(--white-text);
    font-size: var(--md);
    letter-spacing: 1px;
    line-height: 2;
    padding: 16px;
    text-transform: uppercase;
}

/* NAVBAR:COMPLETE */

/* TITLE */
.header-content .container-header {
    left: 30px;
    padding: 20px;
    position: absolute;
    top: 200px;
}

.small-title {
    color: var(--yellow);
    font-size: var(--md);
    font-weight: 600;
    letter-spacing: 2.8px;
    line-height: 2;
    text-transform: uppercase;
}

.header-content .container-header .title {
    color: var(--white-text);
    font-size: 4rem;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 60px;
    margin-top: 24px;
}

.line {
    background: var(--yellow);
    display: block;
    height: 1px;
    margin: 20px 0 30px;
    width: 40px;
    padding-bottom: 1px;
}

.header-content .container-header .subtitle {
    color: var(--white-text);
    font-size: var(--md);
    font-weight: 300;
    line-height: 1.3;
    max-width: 424px;
    min-width: 300px;
    width: 90%;
}

.header-content .container-header .subtitle a {
    color: var(--yellow);
}

/* TITLE:COMPLETE */

/* MAIN - FIRST SECTION */
#main {
    width: 100%;
    height: auto;
}

#main .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 160px 0 80px;
    text-align: center;
}

#main .first-container {
    height: 680px;
}

.medium-title {
    color: var(--gray-text);
    font-weight: 600;
    font-size: 3.8rem;
    margin-bottom: 20px;
    line-height: 4.8rem;
}

.text {
    font-size: var(--sm);
    color: var(--paragraph);
    font-weight: 400;
    line-height: 2.4rem;
    max-width: 584px;
    min-width: 360px;
}

#main .main-container img {
    margin: 80px 0;
}

/* MAIN - FIRST SECTION:COMPLETE */


/* MAIN - SECOND SECTION */
#main .main-second-container {
    height: 754px;
}

#main .main-second-container .bg-img {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/second-section.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.main-second-container .bg-img .right-container {
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    left: 0%;
    padding: 60px;
}

.main-second-container .bg-img .right-container h2 {
    color: var(--white-text);
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
}

.main-second-container .bg-img .right-container .text {
    font-size: var(--md);
    line-height: 2.6rem;
    margin-bottom: 20px;
    min-width: 230px;
    max-width: 420px;
}

.main-second-container .bg-img .right-container .btn {
    /* REPEAT? */
    color: #333;
    background: #edb713;
    border: 2px solid #edb713;
    padding: 10px 18px;
    margin-top: 40px;
    letter-spacing: 1px;
}

/* MAIN-SECOND SECTION:COMPLETE */

/* MAIN THIRD SECTION */
#main .main-services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

#main .main-services .main-services-container {
    padding: 80px 100px;

    min-width: 350px;
    max-width: 30%;
    margin: 0 auto;
}

#main .main-services .main-services-container div {
    display: flex;
    justify-content: center;
}

#main .main-services .main-services-container div img {
    height: 36px;
    width: 36px;
    margin-bottom: 36px;
    margin-top: 0;
}

#main .main-services .main-services-container h3 {
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-text);
}

#main .main-services .main-services-container p {
    font-size: var(--md);
    color: var(--paragraph);
}

/* MAIN THIRD SECTION:COMPLETE */

/* FOOTER */
#footer .footer-third-container {
    width: 100%;
    height: 300px;
    background-color: #222;
}

#footer .footer-third-container div {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
}

#footer .footer-third-container div h3 {
    font-size: var(--md);
    color: #666;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 0 auto;
}


/* FOOTER:COMPLETE */