:root {
    /* Colors */
    --a: #999;
    --black: #000000;
    --gray-text: #ccc;
    --white-text: #eee;
    --white: #ffffff;
    --yellow: #EDB713;

    /* Font size */
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;

    /* Font-Family */
    --poppins: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    list-style: none;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--a);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.navbar-left .logo {
    height: auto;
    width: 48px;
}

.navbar-right {
    display: flex;
}

.navbar-right .navbar-right-ul {
    display: none;
}

.navbar-right .navbar-menu {
    align-items: center;
    display: flex;
}

.navbar-right .container-menu {
    display: flex;
}


.navbar-right .container-menu .menu {
    width: 16px;
}

.navbar-left ul,
.navbar-right ul {
    align-items: center;
    display: flex;
    height: 110px;
}

.navbar-left ul li a,
.navbar-right li a {
    color: var(--white-text);
    font-family: var(--poppins);
    font-size: var(--md);
    letter-spacing: 1px;
    line-height: 2;
    padding: 16px;
    text-transform: uppercase;
}



@media (min-width: 640px) {
    .navbar-right .navbar-right-ul {
        display: flex;
        margin-right: 12px;
    }

    .navbar-left .logo {
        width: 75px;
        height: 35px;
    }
}


/* FULLSCREEN VIDEO 

width: 100%;
height: 100%;
display: block;
object-fit: cover;
position: absolute;
left: 0;
top: 0;
*/